# Please note smv-user-conf.props is typically Git-ignored since it could be
# different from one team member's envirourment to another. 
# Please use the smv-user-conf.props.example as a template to create your own

# data dir
smv.dataDir = file:///home/bzhang/aztest/data

# Connections
smv.conn.myinput.type = hdfs
smv.conn.myinput.path = file:///home/bzhang/aztest/data/input

smv.conn.myoutput.type = hdfs
smv.conn.myoutput.path = file:///home/bzhang/aztest/data/output